/* You can add global styles to this file, and also import other style files */
.ml{
    &-2{
       margin-left: 0.5rem; 
    }
}
body{
    background-color: #ffebdb;
    margin:0px;
    height: 100vh;
}